.message {

}

.imageAndText {

}

.imageAndText img {
    width: 50px;
    border-radius: 50px;
}

.text {
    color: green;
}

.text:after {
    background-color: #cc9c00;
}

.name {
    color: #cc0000;
}

.messageText {

}

.time {
    color: blueviolet;
}